<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link btn btn-info mr-3 " href="/saved">Saved Articles</a>
      <a class="nav-item nav-link btn btn-info scrape_btn" href="/scrape">SCRAPE NEW ARTICLES!</a>
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The Wall Street Journal</h1>
    <p class="lead">The most recent 20 articles. You can save and leave comments.</p>
  </div>
</div>
<div class="container">

  <div class="row news_src">
    {{#each data}}
    <div class="card col-sm-6 col-md-4 col-lg-3 m-1" style="">
      <div class="card-body">
        <a href={{this.link}} target="_blank">
          <h5 class="card-title">{{this.title}}</h5>
        </a>
      </div>
      <div class="card-footer">
        <span class="btn btn-dark float-right save_article_btn" data-id="{{this._id}}" data-title="{{this.title}}" data-image={{this.image}}
          data-link={{this.link}} data-category={{this.category}}>SAVE ARTICLE</span>
      </div>
    </div>
    {{/each}}

  </div>
</div>

</div>


</div>
<script>

</script>
